/****************************************************
	파일명	: common.css
	최초작성자	: 이민혁
	최초작성일	: 2024-11-08
	-------------------------------------------------
	Dec. 육군 출입통제체제 스타일링
	-------------------------------------------------
	최종수정자	: 이민혁
	최종수정일	: 2024-11-08
	수정내용	: 최초작성
	속성순서    : 레이아웃 > 크기/간격 > 박스모양 > 폰트/정렬 > 기타
	주의사항    : 선택자 최소 2개로 지정, CSS 우선 순위보다 낮게 지정
*****************************************************/

/* style */
.red {background: red;}
.blue {background: blue;}
.green {background: green;}

/* 메인 전용 헤더 nav 바로 밑 div 적용 */
.main-header-inner {margin: 0px auto!important;}

/* inner 2024/11/07 이민혁 추가 */
#main-body {background: none;}
.inner {max-width: 1440px; margin: 0px auto;}
/* new border */
.border-gray {border-color: #e8e8e8;}
.border-left-gray30 {border-left: 1px solid var(--gray-30);}
/* bg setting */
.bg-fff {background: #fff;}

/* ul list tyle */
ul.text-black a {color: #000;}
ul.demical > li {list-style: none;}
ul.demical > li::before {content: ''; display: inline-block; margin-bottom: 3px; width: 4.87px; height: 4.87px; vertical-align: middle; border-radius: 50%; background: #000; margin-right: 8px;}
ul.demical {padding-left: 0; margin-bottom: 0;}
/* inner */
/* card */
/* margin */
.mt-120 {margin-top: 120px!important}
.mt-32 {margin-top: 32px!important}
.mt-20 {margin-top: 20px!important;}
.mt-30 {margin-top: 30px!important;}
.mt-40 {margin-top: 40px!important}

.mt-60 {margin-top: 60px!important;}
.pt-20 {padding-top: 20px!important;}


.mt-24 {margin-top: 24px!important}
.ml-20 {margin-left: 20px!important;}
.ml-8 {margin-left: 8px!important;}
.mb-20 {margin-bottom: 20px!important;}
.mb-15 {margin-bottom: 15px!important;}
.mr-15 {margin-right: 15px!important;}
/* padding */
.pl-20 {padding-left: 20px!important;}
.pl-30 {padding-left: 30px!important;}
.px-15 {padding: 0 15px;}
/* font-size-17 */
.font-size-17 {font-size: 17px;}
/* gap */
.gap-15 {gap: 15px;}
.gap-16 {gap: 16px;}
.gap-24 {gap: 24px;}
/* position  */
.p-relative {position: relative;}
.p-absolute {position: absolute;}
.p-absolute.left-align {left: 0;}
/* width setting */
.w-80p {width: 80px;}
.w-200p {width: 200px;}
/* max-h setting */
.mh-set {max-height: var(--maxheight, 400px); overflow-y: auto;}
.overflow-y-scroll {overflow-y: scroll;}

/* align setting */
.align-start {align-items: flex-start!important;}

/* button group white-space nowrap */
.noSpace-btn > button {white-space: nowrap;}

/* bg 공통 */
.bg-green-37 {background: var(--new-green-37)!important;}
.bg-cyan-00 {background: var(--new-cyan-00)!important;}
.bg-blue-43 {background: var(--new-blue-43)!important;}

/* icon 공통 */
[class^=icon]::before,
[class^=icon]::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
}

/* p요소 초기화 */
p {margin-bottom: 0!important;}

/* 탭 공통 */
.nav-tabs-container {margin-bottom: 20px;}
.nav-tabs .nav-link {padding-bottom: 0 0 11px 0; height: 52px;}

/* table 상단 정보 영역 공통 */
.top-info-group {font-size: 14px;}
.top-info-group {margin-bottom: 10px; display: flex; align-items: center; gap: var(--gap , 8px);}
.top-info-group small {color: #666666; font-size: 16px;}
.top-info-group button {height: 28px;}

.top-info-group .top-func-btns {margin-left: auto; display: flex; gap: 8px;}
.top-info-group button + button {margin: 0;}

/* 페이지네이션 공통 */
.com-paging {margin-top: 20px!important; display: flex; align-items: center; justify-content: center; position: relative;}
.com-paging .form-select {width: var(--select-width , 60px); height: 30px; padding: 5px 8px; font-size: 13px; background-size: 16px 16px;}
.pagination {column-gap: 16px;}
.pagination .page-item.active .page-link {background: var(--new-green-37); border: 0; width: 28px; height: 28px;}
.pagination .page-item .page-link {border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-left-radius: 50%; border-bottom-right-radius: 50%;}
.pagination .page-item .page-link {display: flex; justify-content: center; align-items: center;}
/* width: 28px; height: 28px; */
.pagination .page-item .page-link:hover {color: var(--new-green-37); background: transparent; }
.pagination li {line-height: 150%; display: flex; align-items: center;}

/* border style */
.border-gray30 {border: 1px solid var(--gray-30)!important;}

/* header */
header {position: relative; z-index: 1000;}
header .header-inner {padding: 0;}
header #loginUserName {font-weight: 700;}
/* layout */
/* gnb common style */
.gnb {position: relative; z-index: 999;}
.gnb-submenu { position: absolute; top: 100%; width: 100%; left: 0; padding-top: 20px; padding-left: 0; z-index: 10; height: 500px; color: black;}
/* gnb-submenu styling */
.gnb.main .gnb-submenu > li {text-align: left; line-height: 150%; white-space: nowrap;}
.gnb-submenu > li > a {color: #666666; font-size: 18px; line-height: 27px;}
.gnb-submenu > li > a:hover {color: #000000; font-weight: 700; text-decoration: none;}
.gnb-bg {background: #fff; width: 100%; position: absolute; left: 0; height: 500px; top: 100%; z-index: 9; display: none;}

/* gnb 1depth styling */
.gnb .gnb-in > ul {margin: 0; padding: 0; justify-content: space-between; width: 100%;}
.gnb .gnb-in > ul > li {line-height: 150%; position: relative; text-align: center; height: 100%; height: 72px; box-sizing: border-box; font-size: 26px; display: flex; align-items: center; justify-content: center;}
.gnb .gnb-in > ul > li:hover::after {content: ''; position: absolute;  left: 0; bottom: 0; width: 100%; height: 2px;}
.gnb .gnb-in > ul > li > a {display: block; font-weight: 500; text-decoration: none;}
.gnb .gnb-sub {display: none;}

/* gnb-main */
.gnb.main .gnb-submenu {display: none; color: #000;}
.gnb.main {background: #158073; color: #fff; box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);}
/* main - 1depth styling*/
.gnb.main .gnb-in > ul > li > a {color: #fff;}
.gnb.main .gnb-in > ul > li:hover::after {background-color: #F5FE7A;}
/* main open style */
.gnb.main.is-open .gnb-submenu {display: flex; flex-direction: column; gap: 10px;}
.gnb.main.is-open .gnb-bg {display: block;}
.gnb.main .gnb-in > ul > li > a:hover {color: #F5FE7A;}
/* .gnb.main.is-open .gnb-in > ul > li:hover .gnb-submenu {background: #f1f1f1;} */

/* gnb-all-menu */
.all-menu-toggle .icon::before {width: 24px; height: 24px; background: url(/images/ico_allmenu.svg) no-repeat center;}
.all-menu-toggle.is-active .icon::before {width: 24px; height: 24px; background: url(/images/ico_close.svg) no-repeat center;}

.gnb.all-menu .gnb-in > ul > li > a {color: #000;}
.gnb.all-menu .gnb-submenu {display: flex; flex-direction: column; gap: 18px;}
.gnb.all-menu .gnb-in > ul > li:hover::after {background-color: #007867;}

/* black-bg 딤드 */
.black-bg {
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.50);
    display: none;
    z-index: 999;
}

.black-bg.on {display: block;}



/* footer bottom */
.footer-top {height: 80px; display: flex; align-items: center; justify-content: center; background-color: #505050; color: #F1B647;}
.footer-bottom {height: 224px; width: 100%; background: #eee; text-align: center;}
.footer-logo {margin-bottom: 20px;}

/* all menu */
.all-menu-box {position: fixed; background: #fff; left: 0; top: 0; width: 100%; height: 100%; z-index: 9999; color: #000; display: none;}
.all-menu-box.is-open {display: block;}
.all-menu-header {height: 60px; display: flex; justify-content: space-between; align-items: center; padding: 0 15px;}

/* new sidebar style */
.sidebar .nav {font-size: inherit;}
.sidebar .nav > li {line-height: 1.5;}
.sidebar .nav .nav-item .nav-link .menu-title {font-size: 20px; padding: 0;}
.sidebar .nav .nav-item .nav-link {color: #666666;}
.sidebar .nav.sub-menu .nav-link {font-size: 16px; border: 1px solid #d8d8d8;}
.sidebar .nav .nav-item.depth-1 > a {color: #fff; font-weight: 500; height: 72px; border-bottom: 1px solid #599A91;}
.sidebar .nav .nav-item.depth-1 > a.is-active {background: var(--new-green-37); color: #fff!important; }
.sidebar .nav .nav-item.depth-1 > a.is-active i.menu-arrow{ color: #fff!important;}
/* .sidebar .nav .nav-item .nav-link {padding: 1.6rem;} */
.sidebar .nav .nav-item.active {background: #007867;}
.sidebar .nav .nav-item.active > a {color: #000!important; background: #F6F6F6}

/* col reset */
/* .col-reset {margin-left: -15px!important; margin-right: -15px!important;} */
.col-plus {margin-left: 15px!important; margin-right: 15px!important;}

/* 신청 현황 */
.current-dashboard-total {font-size: 60px; margin: 0;}
.current-dashboard-card {padding: 20px 48px; border-radius: 20px; align-content: center; min-height: 172px; text-align: center; color: #fff;}
.current-dashboard-target {display: block; text-align: left; font-size: 24px;}

.current-dashboard-rate {display: flex; align-items: center; flex-wrap: wrap; justify-content: space-between; margin-top: 10px;}
.current-dashboard-state {font-size: 30px; display: flex; align-items: center; color: #FFFDC3; font-weight: 700;}
.current-dashboard-state::after {content: ''; width: 24px; height: 24px; background-size: contain; display: inline-block; margin-left: 10px;}
.current-dashboard-state.is-increase::after {background: url(/images/ico_arr_20_top_fill.svg) no-repeat center;}
.current-dashboard-state.is-decrease::after {background: url(/images/ico_arr_20_bottom_fill.svg) no-repeat center;}
/* 서브 페이지 신청현황 */
.content-wrapper .current-dashboard-card {min-height: 132px;}
.content-wrapper .current-dashboard-total {font-size: 40px;}

/* search field */
.search-field {display: flex; justify-content: center; background: #f0f0f0; padding-top: 32px; padding-bottom: 32px; background: #f0f0f0; border-radius: 16px; margin-bottom: 40px;}
.search-field .start-end-date {transform: translateY(0);}
/* search row */
.search-field .search-row {display: flex;}
.search-field .search-row + .search-row {margin-top: 12px;}
/* search label */
.search-field .search-row .form-label:not(:first-of-type) {margin-left: 40px;}
.search-field .form-label {font-size: 15px; white-space: nowrap; margin-bottom: 0; align-content: center; width: var( --label-width ,56px); text-align: left; margin-right: 20px; letter-spacing: 0;}
/* search input */
.search-field input.form-control {height: 40px;}
.search-min input[type="text"] {width: 412px;}
.search-max input[type="text"] {width: 648px;}
/* search select */
.search-field select.form-select {width: 120px;}
.search-field select.form-select + select.form-select {margin-left: 6px;}
/* search select input combo */
.search-field .search-row select + input {margin-left: 6px;} 
/* search btn */
.search-btn-box {display: flex; flex-direction: column;}
.search-btn-group {display: flex; gap: 8px; margin-left: 40px; margin-top: auto;}
.search-btn-group .btns.flexible-m {font-weight: 400;}
/* search datepicker */
.search-field .datepicker-container {display: flex;}
.search-field .datepicker-container .input-group.date + .input-group.date {margin-left: 6px;}
.search-field .datepicker-container .input-group.date {width: 148px;}

/* 로그인 페이지 */
.login-page .container-fluid {max-width: none;}


/* 버튼 공통 */
.btns {border: 0; color: #fff; display: inline-flex; justify-content: center; align-items: center; gap: 4px;}
.bg-green-3b {background: #3BA79A!important;}
.bg-green-15 {background: #158073!important;}
.bg-cyan-2a {background: #2A9AAE;}
.bg-black-41 {background: #414A5E!important}
.btns-bd-d2 {border: 1px solid #D2D8E5; color: #000; background: #fff;}
.btns-bd-15 {border: 1px solid #158073; color: #2A9C8E; background: #fff;}
.btns.flexible-m {padding: 0 12px; min-height: 40px; border-radius: 6px; font-weight: 600;  font-size: 15px;}
.btns.fixed-s {width: 100px; min-height: 28px; border-radius: 4px; font-weight: 500; font-size: 13px;}
.btns.flexible-s {padding: 0 18px; min-height: 28px; border-radius: 4px; font-weight: 500; font-size: 13px;}
.btns.fixed-xs {width: 60px; min-height: 28px; border-radius: 4px; font-weight: 500; font-size: 13px;}
.btns.fixed-m {width: 80px; min-height: 40px; border-radius: 6px;}


/* 인풋 공통 */
input.form-control {border: 1px solid #999999;}
input.form-control::placeholder {color: #999999;}
input.datepicker-input {padding: 0 16px 0 16px; font-size: 15px;}
input.datepicker-input::placeholder {letter-spacing: -1px;}
input.datepicker-input {background: #fff url(/images/ico_callender.svg) no-repeat right 16px center;}


/* table 스타일 */
.table>:not(caption)>*>* {border-bottom: 0;}
table.td-whiteBg td {background: #fff;}
.expandable-table {border-bottom: 1px solid var(--gray-30)}
.border-btm-gray30 {border-bottom: 1px solid var(--gray-30);}
.expandable-table tr td {font-size: 16px;}

/* 필수 입력 (임시) */
.must-type::after {content: '*'; margin-left: 2px; color: #e92e28;}
.text-red-eb {color:#EB2B2E}

/* echart */
.echart {height: 400px; width: 100%;}

/* table-fixed */
.table-fixed {table-layout: fixed;}

/* board */
.board .table .board-detail {white-space: normal;}
/* board-list */
.board-list ul > li > a {max-width: 99%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; display: inline-flex;}
/* bullet-list */
.bullet-list {padding-left: 0; margin-bottom: 0; margin-top: 8px;}
.bullet-list > li + li {margin-top: 8px;}
.bullet-list > li {color: #666666; padding-left: 20px;}
.bullet-list > li::before {content: ''; display: inline-block; width: 4px; height: 4px; border-radius: 50%; background-color: #666666; vertical-align: middle; margin: -4px 8px 0 0; }

/* board detail */
.board-detail-file {display: flex; align-items: center; color: #212529; text-decoration: none;}
.board-detail-file::before {content: ''; display: inline-block; width: 24px; height: 24px; background: url(/images/ico_file_24.svg) no-repeat center; margin-right: 10px;}

/* after label style */
.after-ico-16 {display: inline-flex; align-items: center; gap: 8px;}
.after-ico-16::after {content: ''; background-size: 16px 16px; width: 16px; height: 16px; display: inline-block; background-repeat: no-repeat; background-position: center;}
.after-ico-16.new-item::after {background-image: url(/images/ico-new.svg); background-size: contain;}

/* h4 area flex (더보기 포함) */
.h3-area-flex {display: flex; justify-content: space-between; margin-bottom: 10px; align-items: center;}
.h4-area-flex {display: flex; justify-content: space-between; margin-bottom: 10px; align-items: center;}
.h4-area-flex > h4 {margin: 0; padding: 0; font-size: 30px; line-height: 45px;}
.h5-area-flex {display: flex; justify-content: space-between; margin-bottom: 10px;}
.h5-area-flex > h5 {margin: 0; padding: 0; font-size: 22px;}

.h4-area-flex small {font-size: 16px; color: #666666; font-weight: 500;}
.h5-area-flex small {font-size: 16px; color: #666666; font-weight: 500;}


/* 더보기 버튼 */
.more-btn {color :#666666; font-weight: 500; font-size: 16px; display: inline-flex; align-items: center; line-height: 24px;}
.more-btn::after {content: ''; display: inline-block; vertical-align: middle; width: 24px; height: 24px; background: url(../images/ico_more.svg) no-repeat center; background-size: cover;} 

/* login box */
.login-box {padding: 60px; background: #fff; border-radius: 20px; border: 1px solid var(--gray-30);}
/* auth-form padding */
.auth-form-padding {padding: 1.875rem;}
.login-notice-title {padding-bottom: 6px; border-bottom: 1px solid #1f1f1f;}

/* 임시 datepicker zindex */
.datepicker {z-index: 2000!important;}


/* 메인 화면 */
.inner.main {margin-bottom: 100px;}
.inner.main section + section {margin-top: 60px;}
.main-header-tit {font-weight: 700; font-size: 48px; text-align: center; margin: 60px 0;}

/* 헤더 */
header .sub-inner {max-width: 1732px; padding: 0px 0px 0px 40px; margin: 0;} /* 서브 전용 inner ( * sidebar + content-wrapper 넓이 + 마진 왼쪽값 + 60) */

.gnb .inner {justify-content: center;}
.log-info {display: flex; align-items: center;}
.log-info .logout::before {width: 24px; height: 24px; background: url(/images/ico_loginfo.svg) no-repeat center; margin-right: 4px; border-radius: 50%;}
.log-info {font-size: 16px;}
.navbar {box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);}

/* 메인 공지사항 */
.notice-date {margin-left: 8px;}
.list-gap {gap: 8px;}

.table>:not(caption)>*>* {background-color: unset;}

.expandable-table:not(.horizontal) tr:hover {background-color: #F3FFFB!important;}
.expandable-table tr :where(th,td){height: 56px;}
.expandable-table tr td.hasAnotherTag {padding: 9px 16px;}
.expandable-table tr td input,
.expandable-table tr td select
{height: 40px; border: 1px solid #ddd; width: var(--input-width, 100%); min-height: auto;}

.expandable-table tr td.hasAnotherTag select {padding: 6px 16px;}
.expandable-table tr td.hasAnotherTag textarea {border: 1px solid #ddd; width: 100%; height: var(--area-height, 200px); padding: 10px 18px;}
.expandable-table thead tr th {background: #F0F0F0;}
.expandable-table tr td:not(:last-child),
.expandable-table tr th:not(:last-child)
{border-right: 1px solid #d8d8d8;}

/* 메인용 공지사항 테이블 */
.rounded-table .expandable-table tr :where(td,th) {height: 52px;}
.rounded-table .expandable-table {border-bottom: 0;}
.rounded-table {border-radius: 20px; overflow: hidden; border: 1px solid #d8d8d8;}
.rounded-table tr {border-style: none;}
.rounded-table .expandable-table tr td {font-size: 16px;}
.rounded-table .expandable-table tr th { background: #f6f6f6; height: 52px; color: var(--black); font-size: 16px; word-break: keep-all;}
.rounded-table .expandable-table.horizontal tbody tr:nth-child(1) :where(th,td) {border-top: 0px;}
.rounded-table .expandable-table.horizontal {border: 0;}

/* 상단 보더 rounded 테이블 */
.top-rounded-table {overflow: hidden; border-top-left-radius: 10px; border-top-right-radius: 10px;}

/* 가로형 테이블 공통 */
table.horizontal {border-right: 1px solid #ced4da; border-left: 1px solid var(--gray-30); font-size: 17px;}
table.horizontal label {margin: 0; font-size: inherit;}
table.horizontal :where(th,td) {padding: 0 20px;}
table.horizontal tbody th {background: #f6f6f6; font-weight: 600;}

/* 메인 당월 출입 신청 현황 */
.monthly-summary .rounded-table {width: 291px; position: absolute; bottom: 40px; right: 40px;}

/* 브레드크럼브 공통 */
.breadcrumb-item + .breadcrumb-item::before {float: unset;}
.breadcrumb-item+.breadcrumb-item {padding-left: 0;}
.breadcrumb-item .breadcrumb-home {margin-right: 4px;}
.breadcrumb .breadcrumb-item {line-height: 150%; display: flex; align-items: center;}
/* .breadcrumb-item .breadcrumb-home {margin-right: 8px;} */

/* 서브 페이지 간격 공통 */
/* .content-wrapper {border: 0.5px dashed lightblue;} */
.content-wrapper section + section {margin-top: 60px;}
.sub-header {z-index: 999; position: relative;}
.sub-header::after {content: ''; display: block; height: 8px; background-color: #158073; position: relative; z-index: 998;  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);}

.page-item.prev i.icon::before,
.page-item.next i.icon::before
{width: 20px; height: 20px; background: url(../images/icon-angle-small.svg) no-repeat center; }

.page-item.next i.icon::before {transform: rotate(180deg);}


@media (max-width: 1672px) {
    .main-panel {padding-right: 60px;}
    .content-wrapper {padding-right: 60px;}
    header .sub-inner {padding-right: 60px;}
}